* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Light Colors */
:root {
  --background-color: #e5e5e8;
  --title-color: #171924;
  --subtitle-color: #808a9d;
  --button-color: #3861fb;
}

/* Dark Colors */
:root .dark-mode {
  --background-color: #191a1f;
  --title-color: #fefefe;
  --subtitle-color: #323546;
  --button-color: #3861fb;
}

body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  background-color: var(--background-color);
}

h1 {
  font-size: 2rem;
  padding-bottom: 2%;
  color: var(--title-color);
}

h3 {
  font-size: 1rem;
  padding-bottom: 5%;
  font-style: italic;
  color: var(--subtitle-color);
}

input {
  width: 50%;
  height: 8%;
  font-size: 1.3rem;
  font-weight: 700;
  border-radius: 50px;
  border: none;
  -webkit-box-shadow: 2px 5px 22px 5px rgba(0, 0, 0, 0.32);
  box-shadow: 2px 5px 22px 5px rgba(0, 0, 0, 0.32);
  color: #fefefe;
  background-color: var(--button-color);
  transition: all 0.2s;
  margin-bottom: 90%;
}

input:hover {
  transform: scale(1.2);
  cursor: pointer;
}
